PrimerProyecto/PrimerProyecto.sln
PrimerProyecto/bin/Debug/net8.0/PrimerProyecto.dll
PrimerProyecto/bin/Debug/net8.0/PrimerProyecto.exe
PrimerProyecto/bin/Debug/net8.0/PrimerProyecto.pdb
PrimerProyecto/bin/Debug/net8.0/PrimerProyecto.staticwebassets.runtime.json
PrimerProyecto/bin/Debug/net8.0/project.razor.vscode.bin
PrimerProyecto/obj/PrimerProyecto.csproj.nuget.dgspec.json
PrimerProyecto/obj/PrimerProyecto.csproj.nuget.g.props
PrimerProyecto/obj/project.assets.json
PrimerProyecto/obj/project.nuget.cache
PrimerProyecto/obj/Debug/net8.0/apphost.exe
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.AssemblyInfo.cs
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.AssemblyInfoInputs.cache
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.assets.cache
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.csproj.CoreCompileInputs.cache
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.csproj.FileListAbsolute.txt
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.dll
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.GeneratedMSBuildEditorConfig.editorconfig
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.genruntimeconfig.cache
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.pdb
PrimerProyecto/obj/Debug/net8.0/PrimerProyecto.sourcelink.json
PrimerProyecto/obj/Debug/net8.0/staticwebassets.build.json
PrimerProyecto/obj/Debug/net8.0/staticwebassets.development.json
PrimerProyecto/obj/Debug/net8.0/staticwebassets.pack.json
PrimerProyecto/obj/Debug/net8.0/ref/PrimerProyecto.dll
PrimerProyecto/obj/Debug/net8.0/refint/PrimerProyecto.dll
